body {
  background-color: black;
  background-image: url(https://imagenes.eltiempo.com/files/image_1200_600/uploads/2018/03/22/5ab428c6cda71.jpeg);
  background-repeat: no-repeat;
  /* background-size: cover; ocupa todo el espacio posible */
  /* background-size: contain;  ocupa todo lo que la imagen tenga de tamaño*/
}

.titulo {
  background-color: brown;
}
